@import './reset.css';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600&display=swap');

html, body {
    min-height: 100vh;
}


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 50px;


    font-family: 'Montserrat',  sans-serif;
}


/* Head */

.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 15px 50px;
    background: linear-gradient(to right, #00c9ff, #92fe9d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.title {
    margin-bottom: 20px;
    color: #FFF;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.20;
}

.form {
    display: flex;
    justify-content: space-between;
    width: 460px;
    height: 50px;
    background-color: #FFFF;
    border-radius: 5px;

    color: #000;
    font-size: 20px;
    font-weight: 300;

}


.input {
    padding: 13px 13px 13px 30px;
    flex-grow: 1;
    color: #000;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 300;
    line-height: 1;
    

}


.btn {
    width: 100px;
    height: 50px;
    border-radius: 0px 5px 5px 0px;
    background: #f6688e;

    color: #FFF;
    font-size: 15px;
    font-weight: 500;
    line-height: 1;

    transition: background 0.2s ease-in;
}

.btn:hover {
    background: #ab64e5;
}

/* Card */


.card {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 20px;


    min-width: 360px;
    padding: 30px;
    border-radius: 5px;

    background: #FFF;
    box-shadow: 0px 10px 20px 0px rgba(57, 75, 70, 0.24);
}

.card::before {
    content: '';


    position: absolute;
    left: 10px;
    bottom: -10px;
    z-index: -1;
    /* display: block; */
    
    width: calc(100% - 20px);
    height: 100%;
    
    
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 10px 20px 0px rgba(57, 75, 70, 0.24);
    
}

.card-city {
    color: #000;
    font-size: 28px;
    font-weight: 500;
    line-height: normal;
}

.card-city span {
    display: inline-block;
    vertical-align: text-top;

    padding: 3px 5px;
    border-radius: 5px;
    
    font-size: 10px;
    font-weight: 700;
    line-height: 1;


    color: #fff;
    background: #9CEFA9;

}

.card-weather {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-value {
    color: #000;
    font-style: normal;
    font-size: 82px;
    line-height: 1;
}

.card-value sup {
    font-size: 50%;
}


.card-img {
    width: 120px;
	height: 120px;
	object-fit: cover;
}

.card-description {
    font-size: 20px;
    line-height: normal;
}

.footer {

    margin-top: auto;
    width: 100%;
    padding: 4px 16px;
    background: #F8F8F8;
    
    font-size: 20px;
    line-height: 1;
    text-align: center;
}


.footer a {
    color: #083D2A;
    text-decoration: none;
}